*.log
.DS_Store
Thumbs.db

.env
.env.backup
.env.production
auth.json

.phpactor.json
.phpunit.result.cache

/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.vagrant

/vendor
/node_modules

/public/build
/public/hot
/public/storage
/public_html/hot
/public_html/storage

/storage/*.key
/storage/pail

Homestead.json
Homestead.yaml

# Laravel 4 specific
bootstrap/compiled.php
app/storage/